.strong-text {
    font-weight: bold;
}

.application-status {
    font-size: 24px;
}

.object-fit-scale-down {
    object-fit: scale-down;
}

.logo-fixitja {
    height: 120px;
    transition: height 0.5s;
}
.logo-fixitja-scrolled {
    height: 72px;
}

/* for registration form */
#passwordinfo {
    color: grey;
}
