.strong-text {
    font-weight: bold;
}

.application-status {
    font-size: 24px;
}

.object-fit-scale-down {
    object-fit: scale-down;
}

.logo-fixitja {
    height: 120px;
    transition: height 0.5s;
}
.logo-fixitja-scrolled {
    height: 72px;
}

@media (max-width: 767.98px) {
    .custom-paragraph{
        width: 100%;
    }
    /* .custom-paragraph-width-80{

    } */
}
@media (min-width: 768px) {
    .custom-paragraph-width-80{
        width: 80%;
    }
}

@media (min-width: 430px) {
    .custom-paragraph-width-60{
        width: 60%;
    }
}
/* for registration form */
.passwordinfo {
    color: grey;
    font-size: 1rem;
}
