.strong-text {
    font-weight: bold;
}

.application-status {
    font-size: 24px;
}

.object-fit-scale-down {
    object-fit: scale-down;
}

.logo-fixitja {
    height: 120px;
    transition: height 0.5s;
}
.logo-fixitja-scrolled {
    height: 72px;
}

/* for ranage slider */
 .slidecontainer {
     width: 100%;
 }

 .slider {
     -webkit-appearance: none;
     width: 100%;
     height: 25px;
     background: #d3d3d3;
     outline: none;
     opacity: 0.7;
     -webkit-transition: .2s;
     transition: opacity .2s;
 }

 .slider:hover {
     opacity: 1;
 }

 .slider::-webkit-slider-thumb {
     -webkit-appearance: none;
     appearance: none;
     width: 25px;
     height: 25px;
     background: #4CAF50;
     cursor: pointer;
 }

 .slider::-moz-range-thumb {
     width: 25px;
     height: 25px;
     background: #4CAF50;
     cursor: pointer;
 }
@media (max-width: 767.98px) {
    .custom-paragraph{
        width: 100%;
    }
    /* .custom-paragraph-width-80{

    } */
}
@media (min-width: 768px) {
    .custom-paragraph-width-80{
        width: 80%;
    }
}

@media (min-width: 430px) {
    .custom-paragraph-width-60{
        width: 60%;
    }
}
/* for registration form */
.passwordinfo {
    color: grey;
    font-size: 1rem;
}
